body {
    margin: 0 auto !important;
    padding: 10px !important;
    width: 80% !important;
    border: 5px solid pink;
    text-align: center !important;
}

#firstRow {
    border-color: rgb(229, 255, 0);
}

#secondRow {
    border-color: rgb(0, 17, 255);
}

input.ng-invalid.ng-touched {
    border-color: red;
}
